.todo{
    width:600px;
    min-height: 232px;
    border-radius: 20px;
    background: whitesmoke;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.todo-header{
    margin-top:px ;
    color: #002765;
    /* color: rebeccapurple; */
    font-size: 36px;
    font-weight: 600px;
    line-height: 34px;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

}

.todo-input{
    border-radius: 50px;
    background: #edeef0;
    border:none;
    outline: none;
    width: 576px;
    height: 80px;
    padding-left: 35px;
}

.todo-add-btn{
    border-radius: 50px;
    height: 80px;
    background-color: #002765;
    color: aliceblue;
    width: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    margin-left: -100px;
}